#header {
    min-width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);

    .oj-menu {
        background: #fdfdfd;
    }

    .logo {
        margin-left: 2%;
        margin-right: 2%;
        font-size: 20px;
        float: left;
        line-height: 60px;
    }

    .drop-menu {
        float: right;
        margin-right: 30px;
        position: absolute;
        right: 10px;

        &-title {
            font-size: 18px;
        }
    }

    .btn-menu {
        font-size: 16px;
        float: right;
        margin-right: 10px;
    }
}

.modal {
    &-title {
        font-size: 18px;
        font-weight: 600;
    }
}

.ivu-btn-ghost {
    color: #495060 !important;
}